snippet fc "Fraction"
\frac{${1}}{${2}}
endsnippet

snippet rt "N-th root"
\sqrt[${1}]{${2}}
endsnippet

snippet sq "Square root"
\sqrt{${1}}
endsnippet

snippet sum "Sum"
\sum_{${1}}^{${2}}
endsnippet
